#container {
  background:rgb(255,255,153);
  height: 700px;
  width: 700px;
  padding-top: 20px;
  border: 2px solid;
  border-color: black;
  margin-left:auto;
  margin-right:auto;

}
/*.spin {
  animation: roll 3s infinite;
  transform: rotate(30deg);
}*/


.row {
  height: 160px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  width: 93%;
//  border: 2px solid;
//  border-color: black;
}

.box {
  width: 23.8%;
  height: 90%;
  margin: 4px 0px 4px 7px;
  background: orange;
  text-align: center;
  float: left;
  overflow: hidden;
  cursor: pointer;
}

.box-animate {
  animation-name: spin;
  animation-duration: 40ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.box img {
  transform:scale(1.25);
}

.boxType1 {
  background: red;
}

.boxType2 {
  background: green;
}

.boxType3 {
  background: blue;
}
